.DS_Store
__pycache__/
*.pyc
_site/
/CNAME
/.well-known/appspecific/
/index.html
/robots.txt
/sitemap.xml
/major-builds/*/index.html
/major-builds/*/thumbs/
/quick-builds/*/index.html
/quick-builds/*/thumbs/
